img {
    width: 50%;
    max-width: 250px;
}

p {
    color: palevioletred;
    background-color: pink
}

body {
    font-family: Verdana, sans-serif;
    font-size: 1.2rem;
    background: pink;
}


h1 {
    font-size: 1.7rem;
    color: palevioletred;
}